:root{
    --logbtn : #00b5ff;
}
.container{
    display: flex;
    flex-direction: column  ;
    width: 100%;
    align-items: center;
    padding: 10px 0px;
}

.header{
    display: flex;
    width: 80%;
    justify-content: space-between;
    
}

.loginBtn{
    display: flex;
    gap: 20px;
}

.signBtn{
    font-weight: bold;
    background-color: black;
    color: white;
    padding: 5px 10px;
    
}




